[data-md-color-scheme="wavelet"] {
    --md-primary-fg-color:        #FCFCFC;
    --md-primary-fg-color--light: #FCFCFC;
    --md-primary-fg-color--dark:  #1B1B1B;
  }
.md-header__topic:first-child {
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  .md-nav__source {
    background-color: var(--md-primary-fg-color--light);
  }
}